@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

:root{
  font-family: "Roboto", sans-serif;
}

.Orbitron{
  font-family: "Orbitron", sans-serif;
}


#canvas {
  width: 100% !important;
  height: 80vh !important;
  position: relative;
  z-index: 40;
}



.RGBTEXTURE {
  background: linear-gradient(90deg, #00ff9d, #7a00ff, #ff00c8, #ff0000);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 10s linear infinite;
}


.Borders{
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
  
}